Scripts/Download/Aristillus_Direct_Data/LRO_right/M101013931RE.IMG
Scripts/Download/Aristillus_Direct_Data/LRO_right/M101013931RE.xml
Scripts/Download/Aristillus_Direct_Data/LRO_left/M101013931LE.xml
Scripts/Download/Aristillus_Direct_Data/LRO_left/M101013931LE.IMG
